/*
    Author: Rory Hackney
    This is the CSS for my Art Supply Tracker website. This ensures cool and hip styles for my
    content. It is used by all pages to ensure a consistent look and feel.
*/

:root {
    --blue-dark: darkblue;
    --blue-darker: rgb(11, 11, 77);
    --white: white;
    --black: black;
    --offwhite-light: rgb(255, 251, 245);
    --offwhite: oldlace;
    --offwhite-dark: rgb(255, 241, 216);
    --gray-dark: gray;
    --gray-light: gainsboro;
    --yellow: yellow;
    --gold: rgb(244, 196, 75);
    --gold-dark: goldenrod;
    --error: red;
    --blue: rgb(179, 179, 230);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/
header {
    background-color: var(--blue-dark);
    background-image: linear-gradient(180deg, var(--blue-darker), var(--blue-dark));
    color: var(--white);
    text-align: center;
    padding: 20px;
}

header img {
    width: 200px;
    height: auto;
}

header a:nth-of-type(2) {
    text-decoration: none;
}

h1 {
    font-family: "Leckerli One", cursive;
    font-size: 3rem;
    margin-top: 0;
    color: var(--white);
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
}

nav li {
    padding: 10px;
    background-color: var(--black);
    border: 1px solid var(--black);
    border-radius: 10px;
    min-width: 75px;
    min-width: fit-content;
}

nav li a {
    text-decoration: none;
    color: var(--white);
}

#current {
    background-color: var(--gray-dark);
}

#current a {
    color: var(--gray-light);
}

/*BODY*/
main {
    background-color: var(--offwhite);
    box-shadow: inset 0px 11px 8px -10px var(--gold),
                inset 0px -11px 8px -10px var(--gold);
    background-image: radial-gradient(var(--offwhite), var(--offwhite-dark));
    padding: 20px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    margin: 0 0 10px 0;
    font-size: 1.5rem;
}

h2 span {
    font-family: "Leckerli One", cursive;
    font-size: 3rem;
    display: block;
}

form {
    border: 1px solid var(--yellow);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--offwhite);
}

label, fieldset {
    font-size: 1.25rem;
}

fieldset {
    box-sizing: border-box;
    border: 1px solid var(--yellow);
    width: 100%;
    margin: 20px;
    background-color: var(--offwhite-light);
}

fieldset label {
    font-size: 1rem;
}

input, textarea {
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--gold-dark);
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

form span, #error {
    color: var(--error);
    font-size: .9rem;
    padding-bottom: 10px;
}

form button, #profile span, .button {
    padding: 10px;
    border-radius: 10px;
    min-width: 75px;
    width: fit-content;
    margin: 5px;
    color: var(--black);
    background-color: var(--white);
    font-size: 1.25rem;
}

.button.center {
    margin: 5px auto;
}

form button > span {
    display: block;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    padding: 0;
    margin: 0 auto;
}

form button[type=submit], #profile span, .button {
    background-color: var(--black);
    color: var(--white);
}

.button {
    text-decoration: none;
}

form .form-row {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .form-row div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form input.small {
    max-width: 150px;
    width: 100%;
}

form select {
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--gold-dark);
    margin-bottom: 10px;
    min-width: 200px;
}

form select option {
    color: var(--black);
    background-color: var(--white);
    font-size: 1rem;
}

form select option.selected {
    color: var(--white);
    background-color: var(--blue-dark);
}

.special-button, .special-button.pink {
    --dark: rgb(213, 145, 145);
    --light: rgb(255, 220, 226);
    --main: rgb(255, 196, 205);
    border-radius: 0;
    background-color: var(--main);
    border-width: 5px;
    border-color: var(--light) var(--dark) var(--dark) var(--light);
    border-style: solid;
    white-space: nowrap;
}

.special-button a {
    color: var(--black);
    display: block;
}

.special-button:active {
    border-color: var(--dark) var(--light) var(--light) var(--dark);
}

.special-button.blue {
    --main: rgb(166, 166, 248);
    --light: rgb(207, 216, 255);
    --dark: rgb(142, 127, 203);
}

.special-button.gold {
    --main: rgb(255, 213, 105);
    --light: rgb(255, 240, 154);
    --dark: rgb(219, 177, 87);
}

.special-button.gray {
    --main: rgb(176, 176, 176);
    --light: var(--gray-light);
    --dark: var(--gray-dark);
}

/*FOOTER*/
footer {
    background-color: var(--blue-dark);
    background-image: linear-gradient(to top right, var(--blue-darker), var(--blue-dark));
    color: var(--white);
    padding: 20px;
    text-align: center;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer li {
    padding: 0 5px;
}

footer a {
    color: var(--white);
}

/*ABOUT*/
.star {
    background-image: url("../../public/star.png");
    background-position: 35% 0;
    background-size: 150px 75px;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 75px;
    margin: 0 auto;
    padding: 0;
}

#main-page > p span {
    border-bottom: 2px dotted var(--error);
}

/*CUSTOMIZE*/
#customize-page {
    align-items: center;
}

#customize-page img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 50%;
}

#customize-page img:hover {
    opacity: 0.5;
}

#customize-page > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding: 0 20px;
}

#customize-page form {
    width: 100%;
    max-width: 500px;
    margin: 20px;
}

#customize-page fieldset div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    min-width: 200px;
    margin: 0 auto;
}

#customize-page fieldset label {
    text-align: left;
}

#customize-page input[type=checkbox] {
    width: fit-content;
}

#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*TABLET*/
@media screen and (min-width: 600px) {
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    nav ul {
        justify-content: space-evenly;
    }

    form .form-row {
        flex-direction: row;
    }

    form .form-row div {
        width: 75%;
    }

    form .form-row div + div {
        width: 25%;
        padding-left: 10px;
    }

    form .half div, form .half div + div {
        width: 50%;
    }

    input.medium {
        max-width: 450px;
    }
}

/*DESKTOP*/
@media screen and (min-width: 900px) {
    #customize-page > div {
        flex-direction: row;
        width: 100%;
    }
}